##定义需要忽略的字段，不生成id、dataCode、delFlag、deleted、createBy、createTime、createdBy、createdAt、updateBy、updateTime、updatedBy、updatedAt这些字段
#set($ignoreTableFieldList = ["id","data_code","del_flag","deleted","create_by","create_time","created_by","created_at","update_by","update_time","updated_by","updated_at"])
#set($ignorePropertyNameList = ["id","dataCode","delFlag","deleted","createBy","createTime","createdBy","createdAt","updateBy","updateTime","updatedBy","updatedAt"])