##定义需要忽略的字段，不生成id、dataCode、delFlag、deleted、createBy、createTime、createdBy、createdAt、updateBy、updateTime、updatedBy、updatedAt这些字段
#set($ignoreTableFieldList = ["created_by","updated_at","create_time","update_time"])
#set($ignorePropertyNameList = ["id","dataCode","delFlag","deleted","createBy","createTime","createdBy","createdAt","updateBy","updateTime","updatedBy","updatedAt"])