#parse("./templates/common/javaClassHeader.vm")#parse("./templates/common/javaClassVariable.vm")
package ${package.Mapper};

import ${packageNotEntity}.${entity}Domain;
import com.tester.base.dto.dao.BaseMapper;
import org.apache.ibatis.annotations.Mapper;
import org.apache.ibatis.annotations.Param;

import java.util.List;

/**
 * $!{table.comment}Mapper接口
 *
 * @author ${author}
 * @version 1.0.0
 * @date ${date}
 */
@Mapper
public interface ${table.mapperName} extends ${superMapperClass}<${entity}Domain,Long> {
    /**
     * 列表查询
     *
     * @param request
     * @return List<${entity}Domain>
     */
    List<${entity}Response> list(${entity}PageRequest request);

    /**
    * 批量插入
    *
    * @param entities
    * @return int
    */
    int batchSave(List<${entity}Domain> entities);
}