#parse("./templates/common/javaClassHeader.vm")#parse("./templates/common/javaClassVariable.vm")
package ${package.Service};

import com.github.pagehelper.PageInfo;
import com.tester.base.dto.exception.BusinessException;
import com.tester.base.dto.dao.BaseService;
import ${packageNotEntity}.${entity}Domain;
import $tempModelPackage.${entity}PageRequest;

import java.util.List;

/**
 * $!{table.comment}业务服务接口
 *
 * @author ${author}
 * @version 1.0.0
 * @date ${date}
 */
public interface ${table.serviceName} extends ${superServiceClass}<Long,${entity}Domain> {
    /* 基础CRUD、分页、列表部分 begin */
    /**
     * 分页查询
     *
     * @param request 分页查询请求对象
     * @return
     */
    PageInfo<${entity}Domain> listPage(${entity}PageRequest request);

    /**
     * 列表查询
     *
     * @param domain 请求对象
     * @return
     */
    List<${entity}Domain> list(${entity}Domain domain);
    /* 基础CRUD、分页、列表部分 end */
}