#parse("./templates/common/javaClassHeader.vm")#parse("./templates/common/javaClassVariable.vm")
package ${package.ServiceImpl};

import com.github.pagehelper.PageInfo;
import com.tester.base.dto.exception.BusinessException;
import lombok.extern.slf4j.Slf4j;
import ${package.Mapper}.${table.mapperName};
import ${package.Service}.${table.serviceName};
import ${packageNotEntity}.${entity}Domain;
import org.springframework.beans.factory.InitializingBean;
import org.springframework.stereotype.Service;
import javax.annotation.Resource;

import java.util.List;
/**
 * $!{table.comment}业务服务实现类
 *
 * @author ${author}
 * @version 1.0.0
 * @date ${date}
 */
@Slf4j
@Service
public class ${table.serviceImplName} extends ${superServiceImplClass}<Long,${entity}Domain> implements ${table.serviceName}, InitializingBean {

    @Resource
    private ${entity}Mapper ${serviceImplMapperName};

    @Override
    public void afterPropertiesSet() throws Exception {
        this.setBaseMapper(${serviceImplMapperName});
    }

    @Override
    public ${entity}Domain save${entity}(${entity}Domain ${table.entityPath}Domain) throws BusinessException{
        return null;
    }
    @Override
    public Integer update${entity}(${entity}Domain ${table.entityPath}Domain) throws BusinessException{
        return null;
    }

    @Override
    public ${entity}Domain get${entity}(${tempPropertyType_PK} ${tempPropertyName_PK}){
        return null;
    }

    @Override
    public Integer delete${entity}(${tempPropertyType_PK} ${tempPropertyName_PK}) throws BusinessException{
        return null;
    }

    @Override
    public PageInfo<${entity}Domain> listPage(${entity}Domain ${table.entityPath}Domain, PageInfo<${entity}Domain> pagerInfo){
        return null;
    }
    @Override
    public List<${entity}Domain> list(${entity}Domain ${table.entityPath}Domain){
        return null;
    }
}