#parse("./templates/common/javaClassHeader.vm")#parse("./templates/common/javaClassVariable.vm")
package ${package.Service};

import com.github.pagehelper.PageInfo;
import com.tester.base.dto.exception.BusinessException;
import com.tester.base.dto.dao.BaseService;
import ${packageNotEntity}.${entity}Domain;

import java.util.List;

/**
 * $!{table.comment}业务服务接口
 *
 * @author ${author}
 * @version 1.0.0
 * @date ${date}
 */
public interface ${table.serviceName} extends ${superServiceClass}<Long,${entity}Domain> {
    /* 基础CRUD、分页、列表部分 begin */
    /**
     * 新增数据
     *
     * @param ${table.entityPath}Domain 请求对象
     * @return
     */
    ${entity}Domain save${entity}(${entity}Domain ${table.entityPath}Domain) throws BusinessException;

    /**
     * 修改数据(根据id修改)
     *
     * @param ${table.entityPath}Domain 请求对象
     * @return
     */
    Integer update${entity}(${entity}Domain ${table.entityPath}Domain) throws BusinessException;

    /**
     * 根据数据编码查询
     *
     * @param ${tempPropertyName_PK} ${tempComment_PK}
     * @return
     */
     ${entity}Domain get${entity}(${tempPropertyType_PK} ${tempPropertyName_PK});

    /**
     * 逻辑删除数据
     *
     * @param ${tempPropertyName_PK} ${tempComment_PK}
     * @return
     */
    Integer delete${entity}(${tempPropertyType_PK} ${tempPropertyName_PK}) throws BusinessException;

    /**
     * 分页查询
     *
     * @param ${table.entityPath}Domain 分页查询请求对象
     * @param pagerInfo 分页查询请求对象
     * @return
     */
    PageInfo<${entity}Domain> listPage(${entity}Domain ${table.entityPath}Domain, PageInfo<${entity}Domain> pagerInfo);

    /**
     * 列表查询
     *
     * @param ${table.entityPath}Domain 请求对象
     * @return
     */
    List<${entity}Domain> list(${entity}Domain ${table.entityPath}Domain);
    /* 基础CRUD、分页、列表部分 end */
}